
header{
  text-align : center;
}

/*

.App {
  text-align: center;
}

.AppHeader {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}



.AppLink {
  color: #61dafb;
}

.AppLogo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .AppLogo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes AppLogoSpin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


td.DSBoardInfoRect{
  padding-left : 10px ;
  padding-top : 1em ;
}
table.DSBoardInfoRectTable{
  border : 1px solid gray ;
  border-radius : 10px ;
}
.DSBoardHolder{
  border-bottom : 1px solid gray ; 
}