
header{
  text-align : center;
}
.GameView{
  display : flex;
  flex-wrap : wrap;
  justify-content: center;
  margin-top : 1em ;
}
.TurnSelect{
  text-align : center;
  display : flex;
  flex-direction: column;
  justify-content: center;
  margin-top : 1em ;

}
